@{
    Layout = "_MobileLayout";
}

<nav class="navbar-fixed-top navbar-inverse navbar">
    <div class="container-fluid">
        <div class="row" style="margin-top:15px">
            @*<div class="col-xs-4"><span class="glyphicon glyphicon-chevron-left"></span></div>*@
            <div class="col-xs-8">孕妇问卷</div>
            <div class="col-xs-4 text-right">
                <span v-show="pageIndex>1 & pageIndex< data.length">{{pageIndex - 1}}/{{data.length-2}}</span>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12" id="content">
            <div v-for="(item,index) in data">
                <div v-show="item.show" v-html="item.html" v-bind:show="item.show"></div>
            </div>
            <div class="margin-top-50">
                <button type="button" v-show="showPrev" class="btn btn-primary" @@click="prev">{{btPrev}}</button>
                <button type="button" class="btn btn-primary  pull-right" @@click="next">{{btNext}}</button>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
<script>
    // checkbox：<input type="checkbox" id="1_1" parent="1"/>
    // text : <input id="1_3" type="text" style="width:50px;" />
    BootstrapDialog.show({
        title: '微信悬浮框设置步骤',
        message:
            '<p><h4>亲爱的用户，如您无法一次性填完本问卷，需要中途退出问卷系统并暂存已填项目，可根据下列步骤设置问卷为悬浮窗，方便您随时回到问卷继续填写！<font color="red">如不设置悬浮窗，再次进入本系统时前次填写内容将无法找回！</font></h4><p/><div style="margin-bottom:10px"><table><thead><td width="85"></td><td width="85"></td></thead><tr><td><img src="/images/guid1.png" width="75px"/><td><img src="/images/guid2.png" width="75px"/><td><img src="/images/guid3.png" width="75px"/></tr></table></div><p><font color="red">仅在微信内有效！</font></p>',
        buttons: [
            {
                id: 'btn-ok',
                icon: 'glyphicon glyphicon-check',
                label: '确定',
                cssClass: 'btn-primary',
                data: {
                    js: 'btn-confirm',
                    'user-id': '3'
                },
                autospin: false,
                action: function (dialogRef) {
                    dialogRef.close();
                }
            }
        ]
    });

    new Vue({
        el: '#app',
        data: {
            btNext: '确定',
            btPrev: '上一页',
            showPrev: false,
            pageIndex: 0,
            data: [
                {
                    html:
                        '<h3 class= "text-center">知情同意书</h3><br/><p>尊敬的准家长们，您好！</p><p>&emsp;&emsp;孕期女性易患睡眠障碍类疾病，如失眠、鼾症等，不仅诱发妊娠期高血压等并发症，影响孕妇健康，而且可对胎儿生长发育造成诸多危害，导致不良妊娠结局。为改善孕妇及胎儿健康、支撑公共卫生决策，由上海市科委项目支持，本研究将对建卡的孕期女性进行睡眠健康相关问卷调查，并留存常规实验室检查后剩余样本，进行便携式睡眠筛查。上述所有项目均无损伤，所有信息也将严格保密，希望得到各位准家长的支持与配合，谢谢！</p><div style="color:red"><input type="checkbox" id="confirm"/>我已阅读上述资料，同意参加本次调查</div>',
                    show: true,
                },
                {
                    html:
                        '<p>姓名：<input name="name" type="text" style="width:100px;" /></p>' +
                        '<p>年龄：<input name="birthday" type="date" style="width:150px;" /></p>' +
                        '<p>孕周：<input name="desc" type="text" style="width:100px;" /></p>' +
                        '<p>建卡号：<input name="stdno" type="number" style="width:100px;" /></p>',
                    show: false,
                },
                {
                    html: '<p><h3>一、匹兹堡睡眠问卷</h3></p><p>下面一些问题是关于您最近1个月的睡眠情况，请选择或填写最符合您近1个月实际情况的答案。请回答下列问题：</p>' +
                        '<div>1. 近1个月，晚上上床睡觉通常<input style="width:100px" type="text" id="A1_1" parent="1" desc="最近1个月的睡眠情况" group="A" />点钟。</div>' +
                        '<div>2. 近1个月，从上床到入睡通常需要<input style="width:100px" type="text" id="A1_2" />分钟。</div>' +
                        '<div>3. 近1个月，通常早上<input style="width:100px" type="text" id="A1_3" />点起床。</div>' +
                        '<div>4.近1个月，每夜通常实际睡眠<input style="width:100px" type="text" id="A1_4" />小时（不等于卧床时间）。</div>',
                    show: false
                },
                {
                    html: '<p><h3>一、匹兹堡睡眠问卷</h3></p><p>对下列问题请选择1个最适合您的答案。</p>' +
                        '<div>5.近1个月，因下列情况影响睡眠而烦恼</div>' +
                        '<div>a.入睡困难(30分钟内不能入睡)：</div>' +
                        '<div><div>(1)&nbsp;<input type="checkbox" id="A5_1" parent="5" desc="入睡困难(30分钟内不能入睡)" group="A" >无</div>' +
                        '<div>(2)&nbsp;<input type="checkbox" id="A5_2"> <1次/周</div>' +
                        '<div>(3)&nbsp;<input type="checkbox" id="A5_3">1-2次/周</div>' +
                        '<div>(4)&nbsp;<input type="checkbox" id="A5_4">≥ 3次/周</div></div>' +
                        '<div>b.夜间易醒或早醒：</div>' +
                        '<div><div>(1)&nbsp;<input type="checkbox" id="A5_5" parent="5" desc="夜间易醒或早醒" group="A" >无</div>' +
                        '<div>(2)&nbsp;<input type="checkbox" id="A5_6"> <1次/周</div>' +
                        '<div>(3)&nbsp;<input type="checkbox" id="A5_7">1-2次/周</div>' +
                        '<div>(4)&nbsp;<input type="checkbox" id="A5_8">≥ 3次/周</div></div>' +
                        '<div>c.夜间去厕所：</div>' +
                        '<div><div>(1)&nbsp;<input type="checkbox" id="A5_9" parent="5" desc="夜间去厕所" group="A" >无</div>' +
                        '<div>(2)&nbsp;<input type="checkbox" id="A5_10"> <1次/周</div>' +
                        '<div>(3)&nbsp;<input type="checkbox" id="A5_11">1-2次/周</div>' +
                        '<div>(4)&nbsp;<input type="checkbox" id="A5_12">≥ 3次/周</div></div>' +
                        '<div>d.呼吸不畅：</div>' +
                        '<div><div>(1)&nbsp;<input type="checkbox" id="A5_13" parent="5" desc="呼吸不畅" group="A" >无</div>' +
                        '<div>(2)&nbsp;<input type="checkbox" id="A5_14"> <1次/周</div>' +
                        '<div>(3)&nbsp;<input type="checkbox" id="A5_15">1-2次/周</div>' +
                        '<div>(4)&nbsp;<input type="checkbox" id="A5_16">≥ 3次/周</div></div>' +
                        '<div>e.咳嗽或鼾声高：</div>' +
                        '<div><div>(1)&nbsp;<input type="checkbox" id="A5_17" parent="5" desc="咳嗽或鼾声高" group="A" >无</div>' +
                        '<div>(2)&nbsp;<input type="checkbox" id="A5_18"> <1次/周</div>' +
                        '<div>(3)&nbsp;<input type="checkbox" id="A5_19">1-2次/周</div>' +
                        '<div>(4)&nbsp;<input type="checkbox" id="A5_20">≥ 3次/周</div></div>',
                    show: false
                },
                {
                    html: '<div>f.感觉冷：</div>' +
                        '<div><div>(1)&nbsp;<input type="checkbox" id="A5_21" parent="5" desc="感觉冷" group="A" >无</div>' +
                        '<div>(2)&nbsp;<input type="checkbox" id="A5_22"> <1次/周</div>' +
                        '<div>(3)&nbsp;<input type="checkbox" id="A5_23">1-2次/周</div>' +
                        '<div>(4)&nbsp;<input type="checkbox" id="A5_24">≥ 3次/周</div></div>' +
                        '<div>g.感觉热：</div>' +
                        '<div><div>(1)&nbsp;<input type="checkbox" id="A5_25" parent="5" desc="感觉热" group="A" >无</div>' +
                        '<div>(2)&nbsp;<input type="checkbox" id="A5_26"> <1次/周</div>' +
                        '<div>(3)&nbsp;<input type="checkbox" id="A5_27">1-2次/周</div>' +
                        '<div>(4)&nbsp;<input type="checkbox" id="A5_28">≥ 3次/周</div></div>' +
                        '<div>h.做恶梦：</div>' +
                        '<div><div>(1)&nbsp;<input type="checkbox" id="A5_29" parent="5" desc="做恶梦" group="A" >无</div>' +
                        '<div>(2)&nbsp;<input type="checkbox" id="A5_30"> <1次/周</div>' +
                        '<div>(3)&nbsp;<input type="checkbox" id="A5_31">1-2次/周</div>' +
                        '<div>(4)&nbsp;<input type="checkbox" id="A5_32">≥ 3次/周</div></div>' +
                        '<div>i.疼痛不适：</div>' +
                        '<div><div>(1)&nbsp;<input type="checkbox" id="A5_33" parent="5" desc="疼痛不适" group="A" >无</div>' +
                        '<div>(2)&nbsp;<input type="checkbox" id="A5_34"> <1次/周</div>' +
                        '<div>(3)&nbsp;<input type="checkbox" id="A5_35">1-2次/周</div>' +
                        '<div>(4)&nbsp;<input type="checkbox" id="A5_36">≥ 3次/周</div></div>' +
                        '<div>j. 其它影响睡眠的事情： </div>' +
                        '<div><div>(1)&nbsp;<input type="checkbox" id="A5_37" parent="5" desc="其它影响睡眠的事情" group="A" >无</div>' +
                        '<div>(2)&nbsp;<input type="checkbox" id="A5_38"> <1次/周</div>' +
                        '<div>(3)&nbsp;<input type="checkbox" id="A5_39">1-2次/周</div>' +
                        '<div>(4)&nbsp;<input type="checkbox" id="A5_40">≥ 3次/周</div>' +
                        '<div>如有，请说明：<input type="text" id="A5_41" style="width:200px"></div>',
                    show: false
                },
                {
                    html: '<p>6.近1个月，总的来说，您认为自己的睡眠质量：</p>' +
                        '<div><div>(1)&nbsp;<input type="checkbox" id="A6_1" parent="6" desc="近一个月睡眠质量" group="A" >很好</div>' +
                        '<div>(2)&nbsp;<input type="checkbox" id="A6_2">较好</div>' +
                        '<div>(3)&nbsp;<input type="checkbox" id="A6_3">较差</div>' +
                        '<div>(4)&nbsp;<input type="checkbox" id="A6_4">很差</div></div>' +
                        '<p>7.近1个月，您用药物催眠的情况：</p>' +
                        '<div><div>(1)&nbsp;<input type="checkbox" id="A7_1" parent="7" desc="近1个月，您用药物催眠的情况" group="A" >无</div>' +
                        '<div>(2)&nbsp;<input type="checkbox" id="A6_2"><1次/周</div>' +
                        '<div>(3)&nbsp;<input type="checkbox" id="A6_3">1-2次/周</div>' +
                        '<div>(4)&nbsp;<input type="checkbox" id="A6_4">≥3次/周</div></div>' +
                        '<p>8.近1个月，您常感到困倦吗：</p>' +
                        '<div><div>(1)&nbsp;<input type="checkbox" id="A8_1" parent="8" desc="近1个月，您用药物催眠的情况" group="A" >无</div>' +
                        '<div>(2)&nbsp;<input type="checkbox" id="A8_2"><1次/周</div>' +
                        '<div>(3)&nbsp;<input type="checkbox" id="A8_3">1-2次/周</div>' +
                        '<div>(4)&nbsp;<input type="checkbox" id="A8_4">≥3次/周</div></div>' +
                        '<p>9.近1个月，您做事情的精力不足吗：</p>' +
                        '<div><div>(1)&nbsp;<input type="checkbox" id="A9_1" parent="9" desc="近1个月，您做事情的精力不足吗" group="A" >没有</div>' +
                        '<div>(2)&nbsp;<input type="checkbox" id="A9_2">偶尔有</div>' +
                        '<div>(3)&nbsp;<input type="checkbox" id="A9_3">有时有</div>' +
                        '<div>(4)&nbsp;<input type="checkbox" id="A9_4">经常有</div></div>',
                    show: false
                },
                {
                    html: '<div>10.你是否有床伴或室友：</div>' +
                        '<div><div>(1)&nbsp;<input type="checkbox" id="A10_1" parent="10" desc="你是否有床伴或室友" group="A" >没有</div>' +
                        '<div>(2)&nbsp;<input type="checkbox" id="A10_2">在另外一个房间</div>' +
                        '<div>(3)&nbsp;<input type="checkbox" id="A10_3">同房但是分床</div>' +
                        '<div>(4)&nbsp;<input type="checkbox" id="A10_4">同床</div></div>' +
                        '<div>如果你有室友或床伴，请让他/她回答以下问题：（他评部分）</div>' +
                        '<div>a.是否有响亮的鼾声：</div>' +
                        '<div><div>(1)&nbsp;<input type="checkbox" id="A10_5" parent="10" desc="是否有响亮的鼾声" group="A">无</div>' +
                        '<div>(2)&nbsp;<input type="checkbox" id="A10_6"> <1次/周</div>' +
                        '<div>(3)&nbsp;<input type="checkbox" id="A10_7">1-2次/周</div>' +
                        '<div>(4)&nbsp;<input type="checkbox" id="A10_8">≥ 3次/周</div></div>' +
                        '<div>b.睡着时有无呼吸暂停：</div>' +
                        '<div><div>(1)&nbsp;<input type="checkbox" id="A10_9" parent="10" desc="睡着时有无呼吸暂停" group="A">无</div>' +
                        '<div>(2)&nbsp;<input type="checkbox" id="A10_10"> <1次/周</div>' +
                        '<div>(3)&nbsp;<input type="checkbox" id="A10_11">1-2次/周</div>' +
                        '<div>(4)&nbsp;<input type="checkbox" id="A10_12">≥ 3次/周</div></div>' +
                        '<div>c.睡眠时有无腿部抽动或痉挛：</div>' +
                        '<div><div>(1)&nbsp;<input type="checkbox" id="A10_13" parent="10" desc="睡眠时有无腿部抽动或痉挛" group="A">无</div>' +
                        '<div>(2)&nbsp;<input type="checkbox" id="A10_14"> <1次/周</div>' +
                        '<div>(3)&nbsp;<input type="checkbox" id="A10_15">1-2次/周</div>' +
                        '<div>(4)&nbsp;<input type="checkbox" id="A10_16">≥ 3次/周</div></div>' +
                        '<div>d.睡眠时有无定向障碍：</div>' +
                        '<div><div>(1)&nbsp;<input type="checkbox" id="A10_17" parent="10" desc="睡眠时有无定向障碍" group="A">无</div>' +
                        '<div>(2)&nbsp;<input type="checkbox" id="A10_18"> <1次/周</div>' +
                        '<div>(3)&nbsp;<input type="checkbox" id="A10_19">1-2次/周</div>' +
                        '<div>(4)&nbsp;<input type="checkbox" id="A10_20">≥ 3次/周</div></div>' +
                        '<div>e.睡眠时是否有其他烦躁不安表现：</div>' +
                        '<div><div>(1)&nbsp;<input type="checkbox" id="A10_21" parent="10" desc="睡眠时是否有其他烦躁不安表现" group="A">无</div>' +
                        '<div>(2)&nbsp;<input type="checkbox" id="A10_22"> <1次/周</div>' +
                        '<div>(3)&nbsp;<input type="checkbox" id="A10_23">1-2次/周</div>' +
                        '<div>(4)&nbsp;<input type="checkbox" id="A10_24">≥ 3次/周</div></div>' +
                        '<div>如果有请描述：<input type="text" id="A10_25" style="width:200px"></div>',
                    show: false
                },
                {
                    html: '<p><h3>二、柏林问卷</h3></p><p>第一部分 打鼾频率及响度</p>' +
                        '<div>1.您睡觉打呼噜吗？(最好问家人或同屋的人)</div>' +
                        '<div><input type="checkbox" id="B1_1" desc="您睡觉打呼噜吗" parent="1" group="B">A.是' +
                        '<input type="checkbox" id="B1_2">B.否' +
                        '<input type="checkbox" id="B1_3" >C.不知道</div>' +
                        '<div>2.如果您睡觉打呼噜——您的鼾声有多响亮？</div>' +
                        '<div><div><input type="checkbox" id="B2_1" desc="如果您睡觉打呼噜——您的鼾声有多响亮" parent="2" group="B">A.比正常呼吸时响</div>' +
                        '<div><input type="checkbox" id="B2_2">B.同说话时一样声响</div>' +
                        '<div><input type="checkbox" id="B2_3">C.比说话更声响</div>' +
                        '<div><input type="checkbox" id="B2_4">D.非常响，其他房间都能听到</div>' +
                        '<div><input type="checkbox" id="B2_5">E.不知道</div></div>' +
                        '<div>3.您打呼噜的次数多吗？</div>' +
                        '<div><div><input type="checkbox" id="B3_1" desc="您打呼噜的次数多吗" parent="3" group="B">A.几乎每天</div>' +
                        '<div><input type="checkbox" id="B3_2">B.一周3-4次</div>' +
                        '<div><input type="checkbox" id="B3_3">C.一周1-2次</div>' +
                        '<div><input type="checkbox" id="B3_4">D.一个月1-2次</div>' +
                        '<div><input type="checkbox" id="B3_5">E.没有或几乎没有/不知道</div></div>' +
                        '<div>4.您的鼾声影响其他人吗？</div>' +
                        '<div><input type="checkbox" id="B4_1" desc="您的鼾声影响其他人吗" parent="4" group="B">A.几乎每天' +
                        '<input type="checkbox" id="B4_2">B.不影响' +
                        '<input type="checkbox" id="B4_3">C.不知道</div>' +
                        '<div>5.在您睡觉时，您的爱人、家属或朋友注意到您有呼吸间歇/停止现象吗？</div>' +
                        '<div><div><input type="checkbox" id="B5_1" desc="您有呼吸间歇/停止现象吗" parent="5" group="B">A.几乎每天都有</div>' +
                        '<div><input type="checkbox" id="B5_2">B.一周3-4次</div>' +
                        '<div><input type="checkbox" id="B5_3">C.一个月1-2次</div>' +
                        '<div><input type="checkbox" id="B5_4">D.一周1-2次</div>' +
                        '<div><input type="checkbox" id="B5_5">E.没有或几乎没有/不知道</div></div>',
                    show: false
                },
                {
                    html: '<p>第二部分 白天嗜睡及觉醒困乏情况</p>' +
                        '<div>6.您早晨醒来后感觉睡觉不解乏吗？</div>' +
                        '<div><div><input type="checkbox" id="B6_1" desc="您早晨醒来后感觉睡觉不解乏吗" parent="6" group="B">A.几乎每天都有</div>' +
                        '<div><input type="checkbox" id="B6_2">B.一周3-4次</div>' +
                        '<div><input type="checkbox" id="B6_3">C.一个月1-2次</div>' +
                        '<div><input type="checkbox" id="B6_4">D.一周1-2次</div>' +
                        '<div><input type="checkbox" id="B6_5">E.没有或几乎没有/不知道</div></div>' +
                        '<div>7.白天您还会有疲劳，乏力或精力不够吗？</div>' +
                        '<div><div><input type="checkbox" id="B7_1" desc="白天您还会有疲劳，乏力或精力不够吗" parent="7" group="B">A.几乎每天都有</div>' +
                        '<div><input type="checkbox" id="B7_2">B.一周3-4次</div>' +
                        '<div><input type="checkbox" id="B7_3">C.一个月1-2次</div>' +
                        '<div><input type="checkbox" id="B7_4">D.一周1-2次</div>' +
                        '<div><input type="checkbox" id="B7_5">E.没有或几乎没有/不知道</div></div>' +
                        '<div>8.当你在等待付水电煤气费、医院就诊排队等候中、在家坐在椅子上看电视时会睡着么？</div>' +
                        '<div><input type="checkbox" id="B8_1" desc="做无聊事时候会不会睡着" parent="8" group="B">A.是' +
                        '<input type="checkbox" id="B8_2">B.否</div>' +
                        '<div>如果是</div>' +
                        '<div>9.这种现象多吗？</div>' +
                        '<div><div><input type="checkbox" id="B9_1" desc="这种现象多吗" parent="9" group="B">A.几乎每天都有</div>' +
                        '<div><input type="checkbox" id="B9_2">B.一周3-4次</div>' +
                        '<div><input type="checkbox" id="B9_3">C.一个月1-2次</div>' +
                        '<div><input type="checkbox" id="B9_4">D.一周1-2次</div>' +
                        '<div><input type="checkbox" id="B9_5">E.没有或几乎没有/不知道</div></div>',
                    show: false
                },
                {
                    html: '<p>第三部分 高血压病史或肥胖史</p>' +
                        '<div>10.您有高血压吗？</div>' +
                        '<input type="checkbox" id="B10_1" desc="您有高血压吗" parent="10" group="B">A.是</div>' +
                        '<input type="checkbox" id="B10_2">B.否</div>' +
                        '<div>您目前的体重?<input type="text" id="B10_3" style="width:100px"/>Kg</div>' +
                        '<div>您的身高?<input type="text" id="B10_4" style="width:100px"/>Kg</div>' +
                        '<div>BMI[体块指数，计算方法为体重(kg)/身高的平方(m2)]<input type="text" id="B10_5" style="width:100px"/>kg/m2</div>',
                    show: false
                },
                {
                    html: '<p><h3>三、Epworth嗜睡量表</h3></p><p>在以下不同情况中您打瞌睡的频率：</p>' +
                        '<p>坐着阅读时</p>' +
                        '<div><input type="checkbox" id="C1_1" desc="坐着阅读时" parent="1" group="C">从不' +
                        '<input type="checkbox" id="C1_2" >很少' +
                        '<input type="checkbox" id="C1_3" >有时' +
                        '<input type="checkbox" id="C1_4" >经常</div>' +
                        '<p>看电视时</p>' +
                        '<div><input type="checkbox" id="C2_1" desc="看电视时" parent="2" group="C">从不' +
                        '<input type="checkbox" id="C2_2" >很少' +
                        '<input type="checkbox" id="C2_3" >有时' +
                        '<input type="checkbox" id="C2_4" >经常</div>' +
                        '<p>在公共场合坐着不动时（如在剧院或开会）</p>' +
                        '<div><input type="checkbox" id="C3_1" desc="在公共场合坐着不动时（如在剧院或开会）" parent="3" group="C">从不' +
                        '<input type="checkbox" id="C3_2" >很少' +
                        '<input type="checkbox" id="C3_3" >有时' +
                        '<input type="checkbox" id="C3_4" >经常</div>' +
                        '<p>连续乘车超过一小时（不包含自己开车）</p>' +
                        '<div><input type="checkbox" id="C4_1" desc="连续乘车超过一小时（不包含自己开车）" parent="4" group="C">从不' +
                        '<input type="checkbox" id="C4_2" >很少' +
                        '<input type="checkbox" id="C4_3" >有时' +
                        '<input type="checkbox" id="C4_4" >经常</div>' +
                        '<p>如条件允许，下午静卧休息时</p>' +
                        '<div><input type="checkbox" id="C5_1" desc="如条件允许，下午静卧休息时" parent="5" group="C">从不' +
                        '<input type="checkbox" id="C5_2" >很少' +
                        '<input type="checkbox" id="C5_3" >有时' +
                        '<input type="checkbox" id="C5_4" >经常</div>' +
                        '<p>坐着与人交谈时</p>' +
                        '<div><input type="checkbox" id="C6_1" desc="坐着与人交谈时" parent="6" group="C">从不' +
                        '<input type="checkbox" id="C6_2" >很少' +
                        '<input type="checkbox" id="C6_3" >有时' +
                        '<input type="checkbox" id="C6_4" >经常</div>' +
                        '<p>午餐未饮酒，饭后静坐时</p>' +
                        '<div><input type="checkbox" id="C7_1" desc="午餐未饮酒，饭后静坐时" parent="7" group="C">从不' +
                        '<input type="checkbox" id="C7_2" >很少' +
                        '<input type="checkbox" id="C7_3" >有时' +
                        '<input type="checkbox" id="C7_4" >经常</div>' +
                        '<p>开车中等红绿灯或遇堵车停几分钟时</p>' +
                        '<div><input type="checkbox" id="C8_1" desc="开车中等红绿灯或遇堵车停几分钟时" parent="8" group="C">从不' +
                        '<input type="checkbox" id="C8_2" >很少' +
                        '<input type="checkbox" id="C8_3" >有时' +
                        '<input type="checkbox" id="C8_4" >经常</div>',
                    show: false
                },
                {
                    html:
                        '<p><h3>四、阿森斯失眠量表</h3></p><p>本量表评估您是否遇到睡眠障碍。对于以下列出的问题，如果在过去一月内，每星期至少3次发生在您身上，请您圈点相应自我评估结果。</p>' +
                        '<p>1.入睡时间（关灯后到睡着的时间）</p>' +
                        '<div><div><input type="checkbox" id="D1_1" desc="入睡时间" parent="1" group="D">A.没问题</div>' +
                        '<div><input type="checkbox" id="D1_2">B.轻微延迟</div>' +
                        '<div><input type="checkbox" id="D1_3">C.显著延迟</div>' +
                        '<div><input type="checkbox" id="D1_4">D.延迟严重或没有睡觉</div></div>' +
                        '<p>2.夜间苏醒</p>' +
                        '<div><div><input type="checkbox" id="D2_1" desc="夜间苏醒" parent="2" group="D">A.没问题</div>' +
                        '<div><input type="checkbox" id="D2_2">B.轻微影响</div>' +
                        '<div><input type="checkbox" id="D2_3">C.显著影响</div>' +
                        '<div><input type="checkbox" id="D2_4">D.严重影响或没有睡觉</div></div>' +
                        '<p>3.比期望的时间早醒</p>' +
                        '<div><div><input type="checkbox" id="D3_1" desc="比期望的时间早醒" parent="3" group="D">A.没问题</div>' +
                        '<div><input type="checkbox" id="D3_2">B.轻微提早</div>' +
                        '<div><input type="checkbox" id="D3_3">C.显著提早</div>' +
                        '<div><input type="checkbox" id="D3_4">D.严重影响或没有睡觉</div></div>' +
                        '<p>4.总睡眠时间</p>' +
                        '<div><div><input type="checkbox" id="D4_1" desc="总睡眠时间" parent="4" group="D">A.足够</div>' +
                        '<div><input type="checkbox" id="D4_2">B.轻微不足</div>' +
                        '<div><input type="checkbox" id="D4_3">C.显著不足</div>' +
                        '<div><input type="checkbox" id="D4_4">D.严重不足或没有睡觉</div></div>',
                    show: false
                },
                {
                    html: '<p>5.总睡眠质量（无论睡多长）</p>' +
                        '<div><div><input type="checkbox" id="D5_1" desc="总睡眠质量" parent="5" group="D">A.满意</div>' +
                        '<div><input type="checkbox" id="D5_2">B.轻微不满</div>' +
                        '<div><input type="checkbox" id="D5_3">C.显著不满</div>' +
                        '<div><input type="checkbox" id="D5_4">D.严重不满或没有睡觉</div></div>' +
                        '<p>6.白天情绪</p>' +
                        '<div><div><input type="checkbox" id="D6_1" desc="白天情绪" parent="6" group="D">A.正常</div>' +
                        '<div><input type="checkbox" id="D6_2">B.轻微低落</div>' +
                        '<div><input type="checkbox" id="D6_3">C.显著低落</div>' +
                        '<div><input type="checkbox" id="D6_4">D.严重低落</div></div>' +
                        '<p>7.白天身体功能（体力或精神：如记忆力、认知力和注意力等）</p>' +
                        '<div><div><input type="checkbox" id="D7_1" desc="白天身体功能" parent="7" group="D">A.足够</div>' +
                        '<div><input type="checkbox" id="D7_2">B.轻微影响</div>' +
                        '<div><input type="checkbox" id="D7_3">C.显著影响</div>' +
                        '<div><input type="checkbox" id="D7_4">D.严重影响</div></div>' +
                        '<p>8.白天思睡 </p>' +
                        '<div><div><input type="checkbox" id="D8_1" desc="白天思睡" parent="8" group="D">A.无思睡</div>' +
                        '<div><input type="checkbox" id="D8_2">B.轻微思睡</div>' +
                        '<div><input type="checkbox" id="D8_3">C.显著思睡</div>' +
                        '<div><input type="checkbox" id="D8_4">D.严重思睡</div></div>',
                    show: false
                },
            ],
        },
        methods: {
            next: function () { //下一题
                //checkNeed();
                if (this.pageIndex == 0) {
                    if (!$('#confirm').prop('checked')) {
                        alert('请确认您以否同意知情同意书！');
                        return false;
                    }

                    this.btNext = '下一页';
                }
                if (this.pageIndex == 1) {
                    this.showPrev = true;
                }
                if (this.pageIndex + 1 == this.data.length - 1) {
                    this.btNext = '确认并提交';
                };
                if (this.pageIndex + 1 == this.data.length) {
                    save();
                    return false;
                }
                this.data[this.pageIndex].show = false;
                this.data[this.pageIndex + 1].show = true;

                this.pageIndex += 1;
            },
            prev: function () {
                if (this.pageIndex - 1 == 0) {
                    this.btNext = '确定';
                }
                if (this.pageIndex - 1 == 1) {
                    this.showPrev = false;
                }
                if (this.pageIndex == this.data.length - 1) {
                    this.btNext = '下一页';
                };
                this.data[this.pageIndex].show = false;
                this.data[this.pageIndex - 1].show = true;

                this.pageIndex -= 1;
            }
        }
    });

    $.each($('input[type="checkbox"]'),
        function () {
            var checkbox = $(this);
            $(this).click(function () {
                var groupdiv = checkbox.parent('div').parent('div');
                var itemDiv = groupdiv.attr("show") === "true" ? checkbox.closest('div') : groupdiv;
                var hasClass = checkbox.hasClass("check");
                itemDiv.find('input[type="checkbox"]').prop("checked", "");
                itemDiv.find('input[type="checkbox"]').removeClass("check");
                if (!hasClass) {
                    checkbox.prop("checked", "checked");
                    checkbox.addClass("check");
                }
            });
        });

    function checkNeed() {
        //当前界面下任何一组没有一个对选框则提示
        var hascheckbox = $('#content div[show="true"]').find('input[type="checkbox"]');
        var itemchecked = $('#content div[show="true"]').find('input[type="checkbox"]:checked').prop('checked');
        if (hascheckbox.length > 0 && !itemchecked) {
            alert('出错啦')
        }
    }

    function save() {
        var tableData = [];
        var pregnantInfo = {
            Name: $('input[name="name"]').val(),
            Type: 3,
            Description: $('input[name="desc"]').val(),
            EmployeeNo: $('input[name="stdno"]').val(),
            Birthday: $('input[name="birthday"]').val()
        }

        $.each($('[parent]'),
            function () {
                var pIndex = $(this).attr('parent');
                //console.log(pIndex);
                var pDesc = $(this).attr('desc');
                var pGroup = $(this).attr('group');

                var items = $('input[id^=' + pGroup + pIndex + '_]');

                $.each(items,
                    function () {
                        var type = $(this).attr('type');
                        var item = $(this);
                        var itemid = item.attr('id');
                        var itemAttribution = type === 'text' ? '' : $(this).prop('checked') ? 'checked' : '';
                        //var itemDesc = item.attr('desc');
                        var itemValue = item.val();
                        var flag = false;

                        $.each(tableData,
                            function () {
                                if (this.DataSign == itemid) {
                                    flag = true;
                                    return false;
                                }
                            });

                        if (flag) return true;

                        tableData.push({
                            ParentIndex: pIndex,
                            ParentDesc: pDesc,
                            ParentGroup: pGroup,

                            DataSign: itemid,
                            Attribution: itemAttribution,
                            //ItemDesc: itemDesc,
                            ItemValue: itemValue
                        });

                    });
            });

        $.post('/FormData/SavePregnantData',
            {
                //visitID: visitID,
                //name: $('#left_menu li.active a').html(),
                //templateId: $('#left_menu li.active a').data('tid'),
                //key: $('#hd_mainId').val(),
                pregnantInfo: pregnantInfo,
                data: JSON.stringify(tableData),
                //dataResult: dataResult
            },
            function (data) {
                $('#content').html("<h3>您已完成全部问卷，谢谢合作！</h3>");
            });

    }
</script>
}
