<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />


<div class="input-group">
    <input id="keyWord" name="keyWord" type="text" class="form-control no-padding" style="width: 400px" placeholder="请输入名称">
    <div class="input-group-btn" style="width:0">
        <ul class="dropdown-menu dropdown-menu-right" role="menu"></ul>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap-suggest.min.js"></script>

<script>
    (function () {
        var dataList = {
            value: []
        };
        init(dataList);
        console.info(dataList);
        suggest("keyWord", dataList);
        //请求json格式的数据 {value: [key:value,key2:value2]};
        function init(dataList) {

            dataList.value.push({ name: 'xxx' });
            dataList.value.push({ name: 'yyy' });
            return dataList;
        }
        // 插件绑定事件
        function suggest(domID, dataList) {
            $("#" + domID).bsSuggest({
                indexId: 1, // data.value 的第几个数据，作为input输入框的显示的内容
                // indexKey: 2, //data.value 的第几个数据，作为input输入框的内容
                data: dataList,
            }).on('onDataRequestSuccess', function (e, result) {
                console.log('从 json参数中获取，不会触发 onDataRequestSuccess 事件', result);
            }).on('onSetSelectValue', function (e, keyword, data) {
                console.log('onSetSelectValue: ', keyword, data);
            }).on('onUnsetSelectValue', function () {
                console.log("onUnsetSelectValue");
            });
        }
    }());
</script>
