<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<style>
    .row-margin-top {
        margin-top: 20px;
    }
    p {
        word-wrap: break-word;
    }
</style>

<div class='container'>
    <div class='row row-margin-top'>
        <div class='col-md-3 sidebar'>
            <div class='container-fluid'>
                <div class='row'>
                    <div class='col-md-4'>
                        <button type='button' class='btn btn-primary'>1</button>
                    </div>
                    <div class='col-md-4'>
                        <button type='button' class='btn btn-primary'>1</button>
                    </div>
                    <div class='col-md-4'>
                        <button type='button' class='btn btn-primary'>1</button>
                    </div>
                </div>
                <div class="row row-margin-top">
                    <div class='col-md-4'>
                        <button type='button' class='btn btn-primary'>1</button>
                    </div>
                    <div class='col-md-4'>
                        <button type='button' class='btn btn-primary'>1</button>
                    </div>
                    <div class='col-md-4'>
                        <button type='button' class='btn btn-primary'>1</button>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-md-9'>
            <div class="container-fluid" id="container_content">
                <div class="row">
                    
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //添加一行内容 col-xs-12 col-md-{} col-lg-{} 默认布局
    //对于 文字使用 <p></p>
    //对于 控件使用 追加内容 编号 
</script>