<div>
    <div style="position: relative;">
        <p></p>
        <h3>儿童PSQ睡眠问卷（在□内勾选表示选择此项）</h3>
        <p></p><p>1.呼吸情况</p>
        <div isunique="true">①睡觉打鼾超过睡眠时间的一半<div><input type="checkbox" id="B1_1" parent="1" desc="儿童PSQ睡眠问卷" group="B">是<input type="checkbox" id="B1_2">否</div></div>
        <div isunique="true">②睡觉总是打鼾<div><input type="checkbox" id="B1_3">是<input type="checkbox" id="B1_4">否</div></div>
        <div isunique="true">③睡觉鼾声重<div><input type="checkbox" id="B1_5">是<input type="checkbox" id="B1_6">否</div></div>
        <div isunique="true">④夜间睡觉时呼吸沉重或呼吸声大<div><input type="checkbox" id="B1_7">是<input type="checkbox" id="B1_8">否</div></div>
        <div isunique="true">⑤夜间睡觉时呼吸困难或呼吸费力<div><input type="checkbox" id="B1_9">是<input type="checkbox" id="B1_10">否</div></div>
        <div isunique="true">⑥夜间睡眠时观察到孩子有呼吸停止<div><input type="checkbox" id="B1_11">是<input type="checkbox" id="B1_12">否</div></div>
        <div isunique="true">⑦白天喜欢张嘴呼吸<div><input type="checkbox" id="B1_13">是<input type="checkbox" id="B1_14">否</div></div>
        <div isunique="true">⑧早晨睡醒时有口干<div><input type="checkbox" id="B1_15">是<input type="checkbox" id="B1_16">否</div></div>
        <div isunique="true">⑨早上起床时伴头痛<div><input type="checkbox" id="B1_17">是<input type="checkbox" id="B1_18">否</div></div>
        <p></p><p>2.白天嗜睡情况</p>
        <div isunique="true">①白天有睡意的困扰或总爱睡觉<div><input type="checkbox" id="B2_1" parent="2" desc="儿童PSQ睡眠问卷" group="B">是<input type="checkbox" id="B2_2">否</div></div>
        <div isunique="true">②老师或其他看护人评价孩子白天表现得昏昏欲睡<div><input type="checkbox" id="B2_3">是<input type="checkbox" id="B2_4">否</div></div>
        <p></p><p>3.儿童行为情况</p>
        <div isunique="true">①在跟孩子讲话他/她好像心不在焉或没有在听<div><input type="checkbox" id="B3_1" parent="3" desc="儿童PSQ睡眠问卷" group="B">是<input type="checkbox" id="B3_2">否</div></div>
        <div isunique="true">②较难安排活动或任务<div><input type="checkbox" id="B3_3">是<input type="checkbox" id="B3_4">否</div></div>
        <div isunique="true">③易被外部的刺激因素分散注意力<div><input type="checkbox" id="B3_5">是<input type="checkbox" id="B3_6">否</div></div>
        <div isunique="true">④坐下时总是手脚乱动不安或浑身不适<div><input type="checkbox" id="B3_7">是<input type="checkbox" id="B3_8">否</div></div>
        <div isunique="true">⑤常表现得忙个不停或高谈阔论<div><input type="checkbox" id="B3_9">是<input type="checkbox" id="B3_10">否</div></div>
        <div isunique="true">⑥平时总爱打断别人或者抢话说<div><input type="checkbox" id="B3_11">是<input type="checkbox" id="B3_12">否</div></div>
        <p></p><p>4.其它</p>
        <div isunique="true">①睡觉偶尔尿床<div><input type="checkbox" id="B4_1" parent="4" desc="儿童PSQ睡眠问卷" group="B">是<input type="checkbox" id="B4_2">否</div></div>
        <div isunique="true">②晨起时感觉未得到充分休息<div><input type="checkbox" id="B4_3">是<input type="checkbox" id="B4_4">否</div></div>
        <div isunique="true">③早上很难叫醒<div><input type="checkbox" id="B4_5">是<input type="checkbox" id="B4_6">否</div></div>
        <div isunique="true">④曾有过生长发育停滞<div><input type="checkbox" id="B4_7">是<input type="checkbox" id="B4_8">否</div></div>
        <div isunique="true">⑤超重<div><input type="checkbox" id="B4_9">是<input type="checkbox" id="B4_10">否</div></div>
    </div>
</div>