@{
    Layout = "_MobileLayout";
}
<nav class="navbar-fixed-top navbar-inverse navbar">
    <div class="container-fluid">
        <div class="row">
            <div style="text-align:center"><h1>预约（Booking）</h1></div>
        </div>
    </div>
</nav>

<div style="padding:50px 10px 30px"><button class="btn btn-primary" onclick="dlgBookingDetail();">我的预约</button></div>
<div id="content" style="text-align:center;"></div>

<div class="modal fade" id="div_mybookingDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">预约信息</h4>
            </div>
            <div class="modal-body">
                <div><label>请输入手机号:</label><input id="txt_tel" type="number" class="form-control" onblur="checkTele(this.value);" /></div>
                <div id="div_bookingdetail"></div>
            </div>
            <div class="modal-footer" style="text-align:left">
                <button type="button" onclick="cancel();" class="btn btn-primary hidden" id="btn_cancel">取消预约</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<div class="modal fade" id="div_patinfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">信息填写</h4>
            </div>
            <div class="modal-body">
                <form action="/Reservation/SaveInfo" method="post">
                    <input type="hidden" name="ReservationDT" value="">
                    <table class="table table-bordered">
                        <tr><td>学校(School)：</td><td><div class="form-group"><input name="School" class="form-control" placeholder="School..." /></div></td></tr>
                        <tr><td>姓名(Name)：</td><td><div class="form-group"><input name="Name" class="form-control" placeholder="Name..." /></div></td></tr>
                        <tr><td>出生年月(Birthday)：</td><td><div class="form-group"><input name="Birthday" class="form-control" placeholder="Birthday..." type="date" /></div></td></tr>
                        <tr><td>身份证号(IDCard)：</td><td><div class="form-group"><input name="IDCard" class="form-control" placeholder="IDCard..." /></div></td></tr>
                        <tr><td>手机号/学生家长（Telephone）：</td><td><div class="form-group"><input name="Telephone" class="form-control" placeholder="Telephone..." /></div></td></tr>
                        <tr><td><span><a href="#" id="href_msgcode">短信验证码</a>（Validation）</span><div><span style="color:red" id="errmsg"></span></div></td><td><div class="form-group"><input class="form-control" name="ValidationCode" placeholder="Validation" type="text"></div></td></tr>
                    </table><button type="submit" class="btn btn-primary">提交</button>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<link href="https://cdn.bootcss.com/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css" rel="stylesheet">

<style>
    #content .layui-laydate-main {
        width: 400px;
    }

    #content .layui-laydate-content td, #content .layui-laydate-content th {
        width: 77px;
        height: 40px;
    }

    .disable {
    }
</style>

@section Scripts
    {
    <script src="~/lib/laydate/laydate.js"></script>
    <script src="https://cdn.bootcss.com/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var oBtn = document.getElementById('href_msgcode');
            var flag = true;

            oBtn.addEventListener("click", function () {                
                var telNo= $('input[name="Telephone"]').val();
                if (telNo == ''){$('#errmsg').html('手机号码不能为空');return;}
                $.get('/Reservation/GetValidationCode', { telNo: telNo }, function (data) {
                    if (data) {
                        var time = 10;
                        oBtn.classList.add('disable');
                        $('#href_msgcode').removeAttr('href');
                        oBtn.innerText = '已发送';
                        $('#errmsg').html('');
                        if (flag) {
                            flag = false;
                            var timer = setInterval(() => {
                                time--;
                                oBtn.innerText = time + ' 秒';
                                if (time === 0) {
                                    clearInterval(timer);
                                    oBtn.innerText = '重新获取';
                                    oBtn.classList.remove('disable');
                                    $('#href_msgcode').attr('href', '#');
                                    flag = true;
                                }
                            }, 1000)
                        }
                    } else {
                        $('#errmsg').html('发送失败，请重新发送');
                    }
                });
            });


            laydate.render({
                elem: '#content'
                , position: 'static'
                , theme: 'grid'
                , min: '@(DateTime.Now.ToString("yyyy-MM-dd"))'
                , max:'@(DateTime.Now.AddMonths(1).ToString("yyyy-MM-dd"))'
                , btns: false
                , change: function () {
                     loadCount();
                }
                , done: function (value) {
                    dlgBookingInfo(value);
                }
            });

            loadCount();

            $('#div_patinfo').on('hidden.bs.modal', function () {
               loadCount();
            })
            vilidInput();
        })

        function vilidInput() {
            $('#div_patinfo form').bootstrapValidator({
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    School: {
                        validators: {
                            notEmpty: {
                                message: '学校不能为空'
                            }
                        }
                    },
                    Name: {
                        validators: {
                            notEmpty: {
                                message: '用户名不能为空'
                            },
                        }
                    },
                    Birthday: {
                        validators: {
                            notEmpty: {
                                message: '生日不能为空'
                            },
                            callback: {
                                message: '问卷中查无此人',
                                callback: function () {
                                    var result = false;
                                    $.ajax({
                                        url: '/Reservation/checkVisit',
                                        type: 'get',
                                        async: false,//使用同步的方式,true为异步方式
                                        data: { name: $('input[name="Name"]').val(), birthday: $('input[name="Birthday"]').val() },//这里使用json对象
                                        success: function (data) {
                                            result = data;
                                        }
                                    });

                                    return result;
                                }
                            }
                        }
                    },
                    IDCard: {
                        validators: {
                            notEmpty: {
                                message: '身份照不能为空'
                            },
                            regexp: {
                                message: '不是合法的身份证',
                                regexp:/^[1-9]\d{7}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}$|^[1-9]\d{5}[1-9]\d{3}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}([0-9]|X)$/
                            }
                        }
                    },
                     Telephone: {
                        validators: {
                            notEmpty: {
                                message: '电话号码不能为空'
                             },
                            regexp: {
                                message: '不是合法的电话',
                                regexp:/^1[3456789]\d{9}$/
                             }
                        }
                    },
                     ValidationCode: {
                        validators: {
                            notEmpty: {
                                message: '验证码不能为空'
                             },
                            callback: {
                                message: '验证码不正确',
                                callback: function () {
                                    return check();
                                }
                             }
                        }
                    },
                }
            });
        }

        function loadCount() {
            $.get('/Reservation/GetCount', function (data) {
                $.each($('.layui-laydate-content table td').not('.laydate-disabled'), function () {
                    var date = $(this).attr('lay-ymd');
                    var count = 8;
                    if (data[date] != undefined)
                        count = 8 - data[date];
                    if ($(this).find('div').length > 0)
                        this.removeChild($(this).find('div')[0]);
                    $(this).append('<div style="color:' + (count == 0 ? 'red' : 'blue') + '">' + '余：' + count + '</div>');
                });
            })
        }
        function submitInfo() {
            var data = $('#div_patinfo form').serialize();
            console.log(data);

            var checkmsg = check();
            if (checkmsg == "") {
                $.post('/Reservation/SaveInfo', data, function (result) {
                    var msg;
                    if (result.code == "1") {
                        msg = "<h3>预约成功！请点击下面链接观看视频。</h3><h4><a href='http://www.baidu.com'>视频地址</a></h4>";
                    } else {
                        msg = result.message;
                    };
                    $('#div_patinfo').modal('hide');
                    $('#content').html('<h3>' + msg + '</h3>')
                })
            } else {
                $('#checkmsg').html(checkmsg);
            }
$('#app').after("<h3 style='text-align:center'><a href='/Reservation/Index'>返回</a></h3>");
        }

        function check() {
            var code = $('input[name="ValidationCode"]').val();
            var telNo = $('input[name="Telephone"]').val();
            var result = "";

            $.ajax({
                type: 'get',
                async: false,
                url: '/Reservation/VerifyValidationCode',
                cache: false,
                data: { telNo: telNo, code: code },
                success: function (data) {
                    if (data.msg == "SUCCESS") {
                        result = true;
                    }
                    else {
                        result = false;
                    }
                }
            });

            return result;
        }

        function dlgBookingInfo(time) {
            $('#div_patinfo').modal('show');
            $('input[name="ReservationDT"]').val(time);
        }

        function dlgBookingDetail() {
            $('#div_mybookingDetail').modal('show');
            $('#div_bookingdetail').html('');
            $('#btn_cancel').addClass('hidden');
            $('#txt_tel').val('');
        }

        function checkTele(tel) {
            var pattern = /^1[34578]\d{9}$/;
            var isTel = pattern.test(tel);

            if (!isTel) {
                $('#div_bookingdetail').css('color', 'red').html('手机号码格式不正确');
                $('#btn_cancel').addClass('hidden');
            } else {
                $.get('/Reservation/GetBookingDetail', { tele: tel }, function (data) {
                    console.log(data);
                    if (data.code == 0) {
                        if (data.data.isReservation == 0) {
                            $('#div_bookingdetail').css('color', 'red').html('该手机号预约名额已使用');
                        $('#btn_cancel').addClass('hidden');
                        } else {
                            $('#btn_cancel').removeClass('hidden');
                            $('#div_bookingdetail').html('您的预约时间为：' + data.data.reservationDT.substring(0,10));
                        }
                    } else {
                        $('#div_bookingdetail').css('color', 'red').html('未检索到预约信息，请绑定手机号以及预约后再次查询。');
                        $('#btn_cancel').addClass('hidden');
                    }
                })
            }
        }

        function cancel() {
            var tel = $('#txt_tel').val();
            if (confirm('是否取消预约，取消后将不能再次预约')) {
                $.post('/Reservation/Cancel', { tel: tel }, function(){
                    location.href = location.href;
                })
            }
        }
    </script>
}