@{
    Layout = "_MobileLayout";
}
<nav class="navbar-fixed-top navbar-inverse navbar">
    <div class="container-fluid">
        <div class="row">
            <div style="text-align:center"><h1>预约（Booking）</h1></div>
        </div>
    </div>
</nav>

<div id="content" style="text-align:center;margin-top:100px"></div>

<div class="modal fade" id="div_patinfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">信息填写</h4>
            </div>
            <div class="modal-body">
                <form action="/Reservation/SaveInfo" method="post">
                    <input type="hidden" name="ReservationDT" value="">
                    <table class="table table-bordered">
                        <tr><td>学校(School)：</td><td><div class="form-group"><input name="School" class="form-control" placeholder="School..." /></div></td></tr>
                        <tr><td>姓名(Name)：</td><td><div class="form-group"><input name="Name" class="form-control" placeholder="Name..." /></div></td></tr>
                        <tr><td>身份证号(IDCard)：</td><td><div class="form-group"><input name="IDCard" class="form-control" placeholder="IDCard..." /></div></td></tr>
                        <tr><td>手机号/学生家长（Telephone）：</td><td><div class="form-group"><input name="Telephone" class="form-control" placeholder="Telephone..." /></div></td></tr>
                        <tr><td><label>验证码（Validation）</label><a href="#" onclick="refreshCode()" id="href_code"></a></td><td><div class="form-group"><input class="form-control" name="ValidationCode" placeholder="Validation" type="text"></div></td></tr>
                    </table><button type="submit" class="btn btn-primary">提交</button>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<link href="https://cdn.bootcss.com/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css" rel="stylesheet">

<style>
    #content .layui-laydate-main {
        width: 400px;
    }

    #content .layui-laydate-content td, #content .layui-laydate-content th {
        width: 77px;
        height: 40px;
    }
</style>

@section Scripts
    {
    <script src="~/lib/laydate/laydate.js"></script>
    <script src="https://cdn.bootcss.com/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"></script>

    <script>
        $(document).ready(function () {
            laydate.render({
                elem: '#content'
                , position: 'static'
                , theme: 'grid'
                , min: '@(DateTime.Now.ToString("yyyy-MM-dd"))'
                , max:'@(DateTime.Now.AddMonths(1).ToString("yyyy-MM-dd"))'
                , btns: false
                , change: function () {
                     loadCount();
                }
                , done: function (value) {
                    dlgBookingInfo(value);
                }
            });

            loadCount();

            $('#div_patinfo').on('shown.bs.modal', function () {
                refreshCode();
            })
            $('#div_patinfo').on('hidden.bs.modal', function () {
               loadCount();
            })
            vilidInput();
        })

        function vilidInput() {
            $('#div_patinfo form').bootstrapValidator({
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    School: {
                        validators: {
                            notEmpty: {
                                message: '学校不能为空'
                            }
                        }
                    },
                    Name: {
                        validators: {
                            notEmpty: {
                                message: '用户名不能为空'
                            }
                        }
                    },
                    IDCard: {
                        validators: {
                            notEmpty: {
                                message: '身份照不能为空'
                            },
                            regexp: {
                                message: '不是合法的身份证',
                                regexp:/^[1-9]\d{7}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}$|^[1-9]\d{5}[1-9]\d{3}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}([0-9]|X)$/
                            }
                        }
                    },
                     Telephone: {
                        validators: {
                            notEmpty: {
                                message: '电话号码不能为空'
                             },
                            regexp: {
                                message: '不是合法的电话',
                                regexp:/^1[3456789]\d{9}$/
                             }
                        }
                    },
                     ValidationCode: {
                        validators: {
                            notEmpty: {
                                message: '验证码不能为空'
                             },
                            callback: {
                                message: '验证码不正确',
                                callback: function () {
                                    return check();
                                }
                             }
                        }
                    },
                }
            });
        }

        function loadCount() {
            $.get('/Reservation/GetCount', function (data) {
                console.log(data);
                $.each($('.layui-laydate-content table td').not('.laydate-disabled'), function () {
                    var date = $(this).attr('lay-ymd');
                    var count = 8;
                    if (data[date] != undefined)
                        count = 8 - data[date];
                    if ($(this).find('div').length > 0)
                        this.removeChild($(this).find('div')[0]);
                    $(this).append('<div style="color:' + (count == 0 ? 'red' : 'blue') + '">' + '余：' + count + '</div>');
                });
            })
        }
        function submitInfo() {
            var data = $('#div_patinfo form').serialize();
            console.log(data);

            var checkmsg = check();
            if (checkmsg == "") {
                $.post('/Reservation/SaveInfo', data, function (result) {
                    var msg;
                    if (result.code == "1") {
                        msg = "<h3>预约成功！请点击下面链接观看视频。</h3><h4><a href='http://www.baidu.com'>视频地址</a></h4>";
                    } else {
                        msg = result.message;
                    };
                    $('#div_patinfo').modal('hide');
                    $('#content').html('<h3>' + msg + '</h3>')
                })
            } else {
                $('#checkmsg').html(checkmsg);
            }
        }

        function refreshCode() {
            $.get('/Reservation/GetValidationCode', function (data) {
                $('#href_code').text(data.value);
            })
        }

        function check() {
            var code = $('input[name="ValidationCode"]').val();
            var result = "";

            $.ajax({
                type : 'get',
                async : false,
                url : '/Reservation/VerifyValidationCode',
                cache : false,
                data : {code:code},
                success: function (data) {
                    if (data.msg == "SUCCESS") {
                        result = true;
                    }
                    else {
                        result = false;
                    }
                }
            });

            return result;
        }

        function dlgBookingInfo(time) {
            $('#div_patinfo').modal('show');
            $('input[name="ReservationDT"]').val(time);
        }
    </script>
}