<div id="div_patinfo">
    <table class="table table-bordered">
        <tr>
            <td>学校(School)：</td>
            <td><input name="School" class="form-control" placeholder="School..."/></td>
        </tr>
        <tr>
            <td>姓名(Name)：</td>
            <td><input name="Name" class="form-control" placeholder="Name..."/></td>
        </tr>
        <tr>
            <td>身份证号(IDCard)：</td>
            <td><input name="IDCard" class="form-control" placeholder="IDCard..."/></td>
        </tr>
        <tr>
            <td>手机号/学生家长（Telephone）：</td>
            <td><input name="Telephone" class="form-control" placeholder="Telephone..."/></td>
        </tr>
    </table>
</div>