@model List<Template>
@{
    Layout = "_Layout";
}
<link href="~/css/dashboard.css" rel="stylesheet" />
<div class="container-fluid" id="left_menu">
    <div class="">
        <div class="col-sm-2 sidebar">
            <ul class="nav nav-sidebar">
                @foreach (Template t in Model)
                {
                    <li><a href="#" data-tid="@t.Id">@t.Name</a></li>
                }
            </ul>
        </div>
        <div class="col-sm-10 col-sm-offset-2 main">
            <input type="hidden" id="hd_mainId" />
            @Html.Partial("~/Views/Home/BarHead.cshtml")
            <div id="container" class="container" style="margin-top:60px">

            </div>
            <div class="col-sm-12" id="Paginator"> <ul id="pageLimit"></ul> </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/lib/jquery/dist/jQuery.print.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap-paginator.min.js"></script>
    <script>
        var pagesize = 10;
        var visitID = '';
        var dataResult = '';
        $(function () {
            $('#left_menu li').click(function () {
                if (!Check()) return;

                $(this).siblings().removeClass('active');
                $(this).addClass('active');

                var id = $(this).find('a').data('tid');
                $.get('/Settings/GetFormHtml/' + id,
                    function (data) {
                        $('#container').html(data);
                        Bindcheckboxs(); //绑定单选
                        Sum(); //绑定合计
                        $('button.hidden').removeClass('hidden').addClass('btn-show');
                        $('#Paginator').hide();
                    });
            });

            $('#txt_visitId').change(function () {
                visitID = $(this).val();
            });
        });

        function Bindcheckboxs() {
            //所有父节点设置唯一值的子checkbox设置为互斥
            $.each($('[isuniq="true"]'),
                function () {
                    var pindex = $(this).attr('parent');
                    var checkboxs = $('#container input[id^=checkbox_' + pindex + '_]');

                    $.each(checkboxs,
                        function () {
                            $(this).click(function () {
                                checkboxs.prop("checked", '');
                                $(this).prop("checked", 'true');
                            });
                        });
                });
        }

        function Sum() {
            //绑定radio
            $("container input:checkbox").click(function () {
                var sum = 0;
                $.each($("container input:checkbox:checked"),
                    function () {
                        sum += Number($(this).val());
                    });
                $('#container #calc_sum').text(sum);
                dataResult = sum;
            });
        }

        function Check() {
            if (visitID == '') {
                popshow();
                return false;
            } else
                return true;
        }

        function InitPage() {
            $('#pageLimit').bootstrapPaginator(GetOption());
        }

        function GetOption() {
            var totalcount = $('#hd_formListCount').val();
            var totalpage;
            if (totalcount % pagesize == 0) {
                totalpage = totalcount / pagesize;
            } else {
                totalpage = totalcount / pagesize + 1;
            }
            return {
                currentPage: 1,
                totalPages: totalpage,
                size: "normal",
                bootstrapMajorVersion: 3,
                alignment: "right",
                numberOfPages: 5,
                itemTexts: function (type, page, current) {
                    switch (type) {
                        case "first":
                            return "首页";
                        case "prev":
                            return "上一页";
                        case "next":
                            return "下一页";
                        case "last":
                            return "末页";
                        case "page":
                            return page;
                    }
                },
                onPageClicked: function (event, originalEvent, type, page) {
                    $.get('/Home/SearchPatientForm',
                        { visitId: visitID, pageNum: page, pageSize: pagesize },
                        function (data) {
                            $('#container').html(data);
                        });
                }
            }
        }

        function popshow() {
            $('#txt_visitId').popover('show');

            setTimeout(function () {
                $('#txt_visitId').popover('hide');
                $('#txt_visitId').popover('destroy');
            },
                1000);
        }

        function search() {
            if (!Check()) return;

            $.get('/Home/SearchPatientForm/',
                { visitId: visitID, pageSize: pagesize },
                function (data) {
                    $('#container').html(data);
                    InitPage();
                    $('button.btn-show').removeClass('btn-show').addClass('hidden');
                    $('#Paginator').show();
                });
        }

        function print() {
            $.print("#container" /*, options*/);
        }

        function edit(id) {
            $('#hd_mainId').val(id);
            $.get('/FormData/Edit/' + id,
                function (data) {
                    $('#container').html(data.source);

                    //绑定radio
                    $.each(data.formData,
                        function () {
                            //绑定checkbox、redio
                            var obj = $('#' + this.dataSign);

                            if (obj.prop("type") === 'text') {
                                obj.val(this.itemValue);
                            } else {
                                obj.prop('checked', this.attribution);
                            }
                            //绑定text
                        });

                    Sum();
                    Bindcheckboxs();
                    $('#container #calc_sum').text(data.result);

                    $('button.hidden').removeClass('hidden').addClass('btn-show');
                    $('#Paginator').hide();
                });
        }

        function save() {
            var tableData = [];
            if (!Check()) return;
            /*---------绑定数据---------
            $.each($('input[name="leipiNewField"][type=text]'),
                function (i, e) {
                    //$(this).attr('value', (i+1)%2);
                    $(this).attr('id', 'text_' + (i+1));
                    //$(this).removeAttr('id');
                });
            var newFormHTML = $('#container').html();
            $.post('/Settings/SaveBindDataFormHtml', { name: 'Moca量表.html', source: newFormHTML });
            return;
            /*---------绑定数据---------*/

            //绑定checkbox、text
            $.each($('[parent]'),
                function () {
                    var pIndex = $(this).attr('parent');
                    var pDesc = $(this).attr('desc');
                    var pGroup = $(this).attr('group');

                    var items = $('#container input[id*=_' + pIndex + '_]');

                    $.each(items,
                        function () {
                            var type = $(this).attr('type');
                            console.log(type);
                            var item = $(this);
                            var itemid = item.attr('id');
                            var itemAttribution = type === 'text' ? '' : $(this).prop('checked')?'checked':'';
                            var itemDesc = item.attr('desc');
                            var itemValue = item.val();
                            tableData.push({
                                ParentIndex: pIndex,
                                ParentDesc: pDesc,
                                ParentGroup: pGroup,

                                DataSign: itemid,
                                Attribution: itemAttribution,
                                ItemDesc: itemDesc,
                                ItemValue: itemValue
                            });
                        });
                });

            $.post('/FormData/SaveBindData',
                {
                    visitID: visitID,
                    name: $('#left_menu li.active a').html(),
                    templateId: $('#left_menu li.active a').data('tid'),
                    key: $('#hd_mainId').val(),
                    data: tableData,
                    dataResult: dataResult
                },
                function (data) {
                    $('#container').html(data);
                    $('button.btn-show').removeClass('btn-show').addClass('hidden');
                    $('#Paginator').show();
                });

        }

        function del(id) {
            var pageNum = $('#pageLimit').bootstrapPaginator("getPages").current;
            $.post('/FormData/Del/' + id,
                { pageNum: pageNum },
                function (data) {
                    $('#container').html(data);
                    $('button.btn-show').removeClass('btn-show').addClass('hidden');
                });
        }
    </script>
}
