@using Microsoft.AspNetCore.Routing
@{
    var controller = ViewContext.RouteData.Values["controller"];
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 问卷调查</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/css/all.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    <style>
        .navbar-inverse {
            background-color: #286090;
            border-color: #286090;
        }

            .navbar-inverse .navbar-brand {
                color: white;
            }

        .navbar-brand {
            padding: 15px 15px 15px 0
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header col-sm-2">
                <a class="navbar-brand" href="#">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    <span>问卷调查</span>
                </a>
            </div>
            <div class="navbar-header col-sm-3" style="padding-right: 5px;padding-left: 0">
                <div class="input-group" style="width:100%">
                    <input autocomplete="off" style="margin-top: 8px" type="text" class="form-control" placeholder="请输入患者号..." id="txt_visitId"
                           data-toggle="popover" data-content="患者不存在，请重新输入或添加新患者。" data-placement="bottom">
                    <div class="input-group-btn" style="width: 0">
                        <ul class="dropdown-menu dropdown-menu-right" role="menu"></ul>
                    </div>
                </div>
            </div>
            <div class="navbar-header col-sm-2" style="padding-left: 0">
                <button style="margin-top:8px" class="btn btn-default" type="button" onclick="search();"><span class="glyphicon glyphicon-hand-left"></span><span style="margin-left:10px">确认</span></button>
            </div>
            <div>
                <button style="margin-top:8px" class="btn btn-default pull-right" type="button" onclick="AddPatient" data-toggle="modal" data-target="#patientInfoModal"><span class="glyphicon glyphicon-user"></span><span style="margin-left:10px">添加患者</span></button>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div>
        @RenderBody()
        @if (controller.ToString() == "Home")
        {
            <div class="container-fluid navbar-fixed-bottom text-center">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                        <footer>
                            <p>
                                &copy; 2019<span style="margin-left: 10px;font-size: 10px"><img src="~/images/mijianlogo.png" />上海米健</span>
                            </p>
                        </footer>
                    </div>
                </div>
            </div>
        }
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
