<div id="example"></div>
<script src='~/js/react/react.js'></script>
<script src='~/js/react/react-dom.js'></script>
<script src="https://unpkg.com/@@babel/standalone/babel.min.js"></script>
<script src="../js/require.js" data-main="../js/component/main"></script>

<script type="text/babel">
    @*const rootElement = document.getElementById('example');
        requirejs.config({scriptType:"text/babel"})
        require([''],function(Main){
        ReactDOM.render(
        <div>
            <Main />
        </div>,
        rootElement);
        })*@
</script>
